*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #abd5fa;

}
.main{
    background-color: #fff;
    border-radius: 20px;
    padding:3em 0 0;
    position:relative;
    overflow: hidden;
    z-index: 1;
     box-shadow: 0 10px 10px rgba(0,0,0,0.3);

}
.main:before{
    content:'';
    height:180px;
    width:130%;
    background:#0088ff;
    position: absolute;
    top:-50px;
    left: -12px;
    border-bottom-left-radius: 60px;
    transform: rotate(-10deg);
    z-index: -1;
   

}
.user-info{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1em;
    padding:0 4em;
    color:#fff
   
}
.user-info img{
    width:75px;
    height:75px;
    border-radius: 50%;
    box-shadow:0px 0px 5px 5px #2873b5;

}
.btn{
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5em auto 3em;
    padding:0.8em 2em;
    border-radius: 10px;
    gap:5px;
    font-size: 0.9rem;
    color:#fff;
    background-color:#0088ff ;
    box-shadow: 0 3px 10px #0088ff;
    cursor: pointer;

}
.btn:hover{
    background-color: #3a97e8;
    transition: background-color 0.3s ease;
}
.btn:active{
    background-color: #3a97e8;
}
.branch-list{
    list-style-type: none;
    margin-top:4em;
    cursor: pointer;
    
}
.list-item:before{
    content: '';
    width:4px;
    height:50px ;
    background-color: #fff;
    position: absolute;
    left:0;
    bottom:1px;
    align-self: flex-start;
}
.list-item:hover::before{
    background-color: #0088ff;
}
.list-item{
    display: flex;
    align-items: center;
    padding:1.5em 2em 1.5em;
    gap:1.5em;
    border-bottom:1px solid #dbd2d2;
    position: relative;
}
.list-item:last-child{
    border-bottom: none;   
}
.last-li svg:last-child{
    margin-left: auto;
}


.list-item svg{
    color:gray;
}
.list-item:hover{
    color:#0088ff;
    background-color: #edf2f7;
    transition: color 0.2s ease;
}
.list-item svg:hover{
       color: #0088ff;
       transition: color 0.1s ease;
}